
<div class="row margin-bottom-40" ng-controller="AboutController">
    
    <div class="col-md-12 col-sm-12">
        <div class="content-page">
            
            <div class="row margin-bottom-30">
                <div class="col-md-8">
                    <div class="ca-heading">
                        <div>
                            <em><i class="fa fa-bolt black"></i></em>
                            <span>Initiativa si aplicatia</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <img src="img/site/about.jpg" alt="" class="img-responsive"/>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <img src="img/site/about.jpg" alt="" class="img-responsive" />

                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <img src="img/site/about.jpg" alt="" class="img-responsive" />

                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <img src="img/site/about.jpg" alt="" class="img-responsive" />

                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="no-top-space">Aici punem un titlu frumos</h3>
                            <p class="ca-about-intro margin-bottom-10">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
                            </p>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                            <p>Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <blockquote>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                        </p>
                                        <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                                    </blockquote>
                                </div>

                            </div>
                            
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.

                                Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.
                            </p>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.

                                Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.
                            </p>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.

                                Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.
                            </p>
                            
                        </div>
                        
                    </div>
                    
                    
                   
                </div>
                
              
                <div class="col-md-4 front-team">
                    <div class="row  margin-bottom-20">
                        <div class="col-md-12">
                            <div class="no-top-space ca-heading">
                                <em><i class="fa fa-list black"></i></em>
                                <span>Cronologie</span>
                            </div>
                            <ul class="list-unstyled row">
                                <li ng-repeat="event in events">
                                    <div class="col-xs-6 col-sm-6 col-md-6">{{event.Date}}</div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">{{event.Name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row  margin-bottom-20">
                        <div class="col-md-12">
                            <div class="no-top-space ca-heading">
                                <em><i class="fa fa-comment black"></i></em>
                                <span>Comentarii</span>
                            </div>
                            <div class="recent-news">
                                <div class="row margin-bottom-10">
                                    <div class="col-md-3">
                                        <img class="img-responsive" alt="" src="content/Metronic/assets/frontend/pages/img/people/img2-large.jpg">
                                    </div>
                                    <div class="col-md-9 recent-news-inner">
                                        <h3><a href="javascript:;">Letiusto gnissimos</a></h3>
                                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-md-3">
                                        <img class="img-responsive" alt="" src="content/Metronic/assets/frontend/pages/img/people/img1-large.jpg">
                                    </div>
                                    <div class="col-md-9 recent-news-inner">
                                        <h3><a href="javascript:;">Deiusto anissimos</a></h3>
                                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-md-3">
                                        <img class="img-responsive" alt="" src="content/Metronic/assets/frontend/pages/img/people/img3-large.jpg">
                                    </div>
                                    <div class="col-md-9 recent-news-inner">
                                        <h3><a href="javascript:;">Tesiusto baissimos</a></h3>
                                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-md-3">
                                        <img class="img-responsive" alt="" src="content/Metronic/assets/frontend/pages/img/people/img2-large.jpg">
                                    </div>
                                    <div class="col-md-9 recent-news-inner">
                                        <h3><a href="javascript:;">Letiusto gnissimos</a></h3>
                                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-md-3">
                                        <img class="img-responsive" alt="" src="content/Metronic/assets/frontend/pages/img/people/img1-large.jpg">
                                    </div>
                                    <div class="col-md-9 recent-news-inner">
                                        <h3><a href="javascript:;">Deiusto anissimos</a></h3>
                                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-md-3">
                                        <img class="img-responsive" alt="" src="content/Metronic/assets/frontend/pages/img/people/img3-large.jpg">
                                    </div>
                                    <div class="col-md-9 recent-news-inner">
                                        <h3><a href="javascript:;">Tesiusto baissimos</a></h3>
                                        <p>Decusamus tiusto odiodig nis simos ducimus qui sint</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                   
                </div>
               
            </div>
        </div>
    </div>
    
</div>
