<div class="row margin-bottom-40" ng-controller="ContactController" >
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
        <div class="content-page">
            <div class="row">
                <div class="col-md-12">
                    <map center="[{{lat}},{{lng}}]" zoom="8" class="margin-bottom-40"/>
                </div>
                <div class="col-md-9 col-sm-9 ca-faq-container">
                    <div class="ca-heading">
                        <em><i class="fa fa-question black"></i></em>
                        <span>Intrebari frecvente</span>
                    </div>
                    <ol>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                        <li>
                            <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry?</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </li>
                    </ol>
                </div>
                <div class="col-md-3 col-sm-3 sidebar2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ca-heading">
                                <em><i class="fa fa-phone black"></i></em>
                                <span>Contact</span>
                            </div>
                            <address>
                                CIF: <strong>Rxxxxx</strong><br>
                                Numar de inregistrare: <strong>J/xxxxxx</strong><br>
                                Adresa: <strong>San Francisco, CA 94107</strong><br>
                                Telefon: <strong>(+40) 755 259 865</strong>
                            </address>
                            <address>
                                Comunicare si relatii cu mass media:<br>
                                Cineva Cumva<br>
                                Email:  <a href="mailto:info@email.com"><strong>info@email.com</strong></a><br>
                            </address>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ca-heading">
                                <em><i class="fa fa-envelope black"></i></em>
                                <span>Formular</span>
                            </div>
                            <p>Daca ai intrebari despre Civic Alert, te rugam sa nu eziti sa ne contactezi. Ne poti trimite un mesaj si completand formularul de mai jos.</p>

                            <!-- BEGIN FORM-->
                            <div class="form">
                                <div class="form-group">
                                    <label for="contacts-name">Name</label>
                                    <input type="text" class="form-control" id="contacts-name">
                                </div>
                                <div class="form-group">
                                    <label for="contacts-email">Email</label>
                                    <input type="email" class="form-control" id="contacts-email">
                                </div>
                                <div class="form-group">
                                    <label for="contacts-message">Message</label>
                                    <textarea class="form-control" rows="5" id="contacts-message"></textarea>
                                </div>
                                <div class="form-group">
                                    *Campurile marcate cu asterisc sunt obligatorii.
                                </div>
                                <button type="submit" class="btn btn-primary ca-btn-submit"><i class="icon-ok"></i> Trimite</button>
                            </div>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>