<div ng-show="hasAlertDetails">
    <p ng-bind="alertDetail.Title">

    </p>
    <p>
        <img class="ca-alert-details-img img-responsive fancybox-data-img" ng-src="{{alertDetail.Image}}" alt="" />
    </p>
    <p ng-bind="alertDetail.Description">

    </p>
    <p>
        <strong>STATUS: <span style="color: red;" ng-bind="alertDetail.Status"></span></strong>
        <br />
        pe
        <span ng-bind="alertDetail.DateDisplay">

        </span>
    </p>
</div>
<div ng-show="!hasAlertDetails">
    <p>
        Titlu
    </p>
    <p>
        <img class="ca-alert-details-img" src="img/no-image.jpg" alt="" class="img-responsive fancybox-data-img" />
    </p>
    <p >
        Descriere
    </p>
    <p>
        <strong>STATUS: <span style="color: red;" > Status </span></strong>
        <br />
        pe
        <span >
            Data
        </span>
    </p>
</div>
