<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-xs-12 col-sm-12 col-md-6  padding-top-10">
                2015 © Civic Alert. TOATE drepturile rezervate. <a href="javascript:;"><strong>Termeni si servicii</strong></a>
            </div>
            <!-- END COPYRIGHT -->
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div ng-include="'views/shared/androidapp.html'"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div ng-include="'views/shared/iosapp.html'"></div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <div ng-include="'views/shared/winapp.html'"></div>
            </div>
            </div>
    </div>
</div>
<!-- END FOOTER -->