<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM CONTACT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Contact</h2>
                <address>
                    Adresa: San Francisco, CA 94107<br>
                    Telefon: (+40) 755 259 865<br />
                    Fax: (+021) 323 569 89<br />
                    Email: <a href="mailto:info@civicalert.com">info@civicalert.com</a><br>
                    Skype: <a href="skype:civicalert">civicalert</a>
                </address>
            </div>
            <!-- END BOTTOM CONTACT BLOCK -->
            <!-- BEGIN BOTTOM NEWSLETTER -->
            <div class="col-md-4 col-sm-6 pre-footer-col">

                <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                    <h2>Newsletter</h2>
                    <p>Te poti abona la newsletter-ul nostru. Multumim!</p>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control" ng-model="newsletterEmail">
                            <span class="input-group-btn">
                                <button class="btn ca-btn-submit" type="button" ng-click="subscribeToNewsletter()">Aboneaza-te</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END BOTTOM NEWSLETTER -->
            <!-- BEGIN FACEBOOK BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2 class="margin-bottom-0">Prieteni pe facebook</h2>
                <div class="fb-page" data-href="https://www.facebook.com/Romaniminunati" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/Romaniminunati">
                            <a href="https://www.facebook.com/Romaniminunati">Facebook</a>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- END FACEBOOK BLOCK -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->