<div class="page-slider">
    <div class="fullwidthbanner-container revolution-slider">
        <div class="fullwidthbanner">
            <ul id="revolutionul">
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="content/metronic/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <img src="img/site/slide_4.png" alt="" />
                </li>
                <!-- THE FIRST SLIDE -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="content/metronic/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                    <img src="img/site/slide_5.png" alt="" />
                   
                </li>
                <!-- THE SECOND SLIDE -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="content/metronic/assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
                  <img src="img/site/slide_6.png" alt="" />
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
</div>