<a href="content/kits/civic-alert-wp8.v0.8.xap">
    <img class="img-responsive" src="https://cmsresources.windowsphone.com/devcenter/en-us/legacy_v1/img/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" />
</a>
<!--<a href="http://apps.microsoft.com/windows/app/123">
            <img class="img-responsive" src="https://cmsresources.windowsphone.com/devcenter/en-us/legacy_v1/img/badgegenerator/English_wstore_black_258x67.png" alt="Download from Windows Store" />
        </a>-->
