@charset "utf-8";
/* columns of same height styles */
.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}
@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
/* vertical alignment styles */
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
body {
  color: black;
}
.site-logo {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 0;
  width: 250px;
}
a {
  color: #719ec3 !important;
}
a:hover,
a:focus,
a.selected {
  color: #add02e !important;
  /*font-weight: bold !important;*/
}
.header-navigation > ul > li > a {
  padding-top: 25px;
  padding-bottom: 10px;
}
.header .mobi-toggler:hover {
  background-color: #add02e;
  border-color: #add02e;
}
@media (max-width: 1024px) {
  .header .header-navigation li > a:hover,
  .header .header-navigation li.active > a,
  .header .header-navigation li.open > a:hover {
    border-bottom-color: #719ec3 !important;
    color: #add02e !important;
  }
}
.dropdown-menu {
  min-width: 300px;
}
.tab-content {
  background-color: white;
}
.header-navigation > ul > li.dropdown:hover > a:after {
  content: none;
}
.modal {
  top: 10%;
  outline: none;
}
.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal.modal-wide .modal-dialog .modal-body {
  height: 550px;
}
.modal.modal-wide .modal-dialog .modal-body .ca-gmaps {
  height: 100%;
}
/*map, div[map] {display:block; width:450px; height:300px;}*/
@media (max-width: 480px) {
  .pre-header .list-inline li {
    display: inline;
  }
  .pre-header .list-inline li.ca-account-dropdown {
    display: block;
  }
}
.ca-account-tabs > li {
  padding: 2px;
}
.ca-account-tabs .nav-tabs {
  border: none;
}
.ca-account-tabs .nav-tabs li {
  border-bottom: 1px dashed black;
  width: 50%;
  padding: 0;
}
.ca-account-tabs .nav-tabs li.active {
  border-top: 1px dashed black;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
  border-bottom: none;
}
.ca-account-tabs .nav-tabs li.active a {
  color: #719ec3;
}
.ca-account-tabs .nav-tabs li a {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  color: #fafafa;
}
.ca-account-tabs .nav-tabs li a:hover,
.ca-account-tabs .nav-tabs li a:focus {
  background-color: transparent;
  color: #719ec3;
}
.ca-account-tabs .tab-content {
  border-bottom: 1px dashed black;
  border-left: 1px dashed black;
  border-right: 1px dashed black;
}
.ca-account-tabs .ca-logout-tab {
  border: 1px dashed black !important;
  padding: 2px;
}
.ca-account-tabs .ca-logout-tab button {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ca-account-dropdown input,
.ca-account-dropdown textarea {
  background-color: #fafafa;
}
.service-box {
  padding-left: 10px;
  padding-right: 10px;
}
.service-box p {
  color: black;
}
.service-box .service-box-heading {
  text-transform: uppercase;
  padding: 2px 0;
  border-top: 1px solid #cbcdcd;
  border-bottom: 1px solid #cbcdcd;
  margin-bottom: 10px;
}
.service-box .service-box-heading em {
  float: right;
}
.service-box .service-box-heading i.black {
  color: black;
  border: 1px solid #cbcdcd;
}
@media (max-width: 992px) {
  .service-box .service-box-heading em {
    margin-bottom: 10px;
    float: inherit !important;
  }
}
.service-box-body {
  border: 1px solid #cbcdcd;
}
.ca-btn-submit {
  background: #add02e;
  color: white;
  /*font-weight: bold;*/
}
.ca-utilitary-bar {
  background-color: #cbcdcd;
  padding-top: 20px;
  padding-bottom: 19px;
  margin-left: 0;
  margin-right: 0;
}
.ca-utilitary-bar a {
  max-height: 40px;
}
.ca-utilitary-bar a img {
  max-height: 40px;
}
.ca-utilitary-phone-icon {
  font-size: 50px !important;
}
.ca-utilitary-phone {
  font-size: 30px;
}
.ca-info-text {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
}
.ca-reset-photo {
  color: red;
  font-size: 20px !important;
  background-color: black;
  padding: 4px;
}
.ca-heading {
  padding: 2px 0;
  border-top: 1px solid #cbcdcd;
  border-bottom: 1px solid #cbcdcd;
  margin-bottom: 10px;
}
.ca-heading span {
  color: #444;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  text-transform: uppercase;
}
.ca-heading i {
  padding: 0;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  font-size: 18px !important;
  height: 32px;
  width: 32px;
  line-height: 32px !important;
  text-align: center;
  vertical-align: baseline;
}
.ca-heading i.black {
  color: black;
  border: 1px solid #cbcdcd;
}
.ca-heading em {
  float: right;
}
@media (max-width: 992px) {
  .ca-heading em,
  .ca-heading span {
    display: block;
    text-align: center;
  }
  .ca-heading em {
    margin-bottom: 10px;
  }
}
.ca-alert-list {
  height: 800px;
  overflow: auto;
}
.ca-alert-line {
  background-color: #cbcdcd;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid white;
}
.ca-alert-line div:first-child {
  padding: 2px;
  color: white;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.ca-alert-line img {
  width: 100%;
}
.ca-alert-line .ca-alert-code {
  font-size: 10px;
}
.ca-alert-line .ca-alert-title {
  color: black;
  font-weight: bold;
}
.ca-alert-line .ca-alert-desc {
  color: black;
}
.ca-alert-line .ca-alert-time {
  color: white;
  font-style: italic;
}
.ca-alert-map {
  width: 100%;
}
.ca-alert-details {
  max-height: 500px;
  overflow: auto;
}
.ca-alert-details-img {
  width: 60%;
  margin: auto;
  display: block;
}
.k-grid .k-header {
  display: none;
}
.ca-newalert-area {
  background-color: #cbcdcd;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.ca-new-alert-actions {
  padding: 15px;
}
.ca-newalert-header {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.ca-newalert-header-img {
  width: 100%;
}
.ca-faq-container label {
  font-style: italic;
}
.ca-about-intro {
  color: #719ec3;
  font-weight: bold;
}
.revolution-slider {
  margin-bottom: 0;
}
.header {
  background-color: #fafafa;
  color: black;
  margin-bottom: 0;
}
.header .header-navigation > ul > li > a {
  color: #719ec3;
}
.header .header-navigation > ul > li > a:hover {
  background-color: transparent;
  color: #add02e;
  text-decoration: none;
  border-bottom: 1px solid #719ec3;
}
.header .header-navigation > ul > li > a:focus {
  background-color: transparent;
  color: #add02e;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #719ec3;
}
.header .header-navigation > ul > li > a::selection {
  background-color: transparent;
  color: #add02e;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #719ec3;
}
.header .header-navigation > ul > li > a.selected {
  background-color: transparent;
  color: #add02e;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #719ec3;
}
.pre-header {
  padding-top: 5px;
  background-color: #4f6e88;
  border-bottom: 0;
}
.pre-header i {
  color: #cbcdcd;
}
.pre-header a {
  color: #add02e;
}
.pre-header a:hover {
  color: #add02e;
}
.pre-header .ca-info-text a {
  color: #719ec3;
}
.pre-footer {
  background-color: #fafafa;
  color: black;
  border: 1px solid #CBCDCD;
  /*a {
        color: @linkcolor;
    }*/
}
.pre-footer h2 {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.pre-footer-subscribe-box input {
  background-color: white;
}
.footer {
  background-color: #cbcdcd;
  color: black;
}
.ca-validation-err {
  color: red;
}
.ca-photo-upload {
  background: url(../../img/camera-icon.png);
  height: 100px;
  max-width: 100px;
  background-position: center;
  background-size: cover;
  /*float: right;*/
}
.ca-photo-upload input {
  filter: alpha(opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
}
